<section class="section-kldx">
  <%= image_tag "banner.png", class: "img-responsive" %>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h1>Latest Updates</h1>
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</section>
